body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #87adca, #6a88da);
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.Login-form
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 0.2rem solid #4da1f0dd;
    border-radius: 2rem;
    padding: 3rem;
    background-color: hsl(0deg 0% 0% / 10%);
    color: #ffff;
}

.Login-form input 
{
    padding: 1rem;
    border: 0.2rem solid #4da1f0dd;
    border-radius: 0% 1rem;
}

.Card-content
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.Card-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.Card-button button
{
    padding: .5rem;
    width: 100%;
    border-radius: 20px;
}

.Card-button a 
{
    text-decoration: none;
    font-weight: 500;
}

.Chat-app
{
    height: 90vh;
    width: 90vw;
    background: #fff;
    border-radius: 20px;
    display: flex;
}

.chat-contacts
{
    height: auto;
    width: 20vw;
    background: #41729F;
    color:#ffff;
}

.chat-box
{
    width: 70vw;
    background: rgb(152, 206, 228);
    overflow: auto;
}

.contact-content
{
    display: flex;
    flex-direction: column;
}

.contact-header
{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    width: 100%;
}

.name
{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50px;
    background: hsl(0deg 0% 0% / 10%);
}

.selected 
{
    background: #274472;
}

.chat-box-header
{
    background: #41729F;
    height: 10vh;
}

.chat-box-header h1 {
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box-content
{
    background: #5885AF;
    height: 65.5vh;
    padding: 20px;
    overflow: auto;
}

.chat-box-messagebox
{
    background: #5885AF;
    height: 10vh;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.logout
{
    background: #fff;
    border-radius: 100%;
    position: absolute;
    width: 3%;
    height: 6%;
    top: 7%;
    left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout i
{
    font-size: clamp(2rem, 1rem + 5vw, 2rem);
}

.Input-chat-box 
{
    height: 8vh;
    border-radius: 50px;
    width: 100%;
}

.Button-chat-box
{
    padding: 1.5%;
    border-radius: 50px;
    position: absolute;
    right: 0;
    width: 10%;
}

.Button-chat-box i
{
    font-size: clamp(2rem, 1rem + 5vw, 2rem);
}

.message {
    display: flex;
    align-items: center;
    margin: 10px;
}
.message .content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: .4rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: #000000;
}

.sended {
    justify-content: flex-end;
}

.sended .content {
    background-color: #b5c3c9;
}

.received {
    justify-content: flex-start;
}

.received .content {
    background-color: #b5c3c9;
}